<div class="container">
  <h3 class="px-3" style= "width: fit-content; background-color: #e6e6e6;">商品一覧</h3>
<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td>
          <%= link_to admin_item_path(item.id) do %>
            <%= item.name %>
          <% end %>
        </td>
        <td><%= item.without_tax %></td>
        <td><%#= item.genre_id.name %></td>
        <td>
          <% if item.is_active == true %>
            <span class="text-success font-weight-bold">販売中</span>
          <% else %>
            <span class="text-secondary font-weight-bold">販売停止中</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>