<div class="border" id="genre-list">
  <div class="text-center font-weight-bold m-2 border-bottom">
    ジャンル検索
  </div>
    <% genres.each do |genre| %>
      <%= link_to genre_path(genre), class: "text-dark text-decoration-none" do %>
        <div class="m-1 genre-link"><%= genre.name %></div>
      <% end %>
    <% end %>
</div>