<div class="container">
  <div class="text-center">
    <h1 class="display-2">About</h1>
    <h4>
      ながのCAKEは全国発送可能なケーキ屋さんです。</br>
      お子様からお年寄りの方までお召し上がりいただけるよう、</br>
      様々なバリエーションをご用意しております。</br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
      ぜひご注文ください。
    </h4>
    <div>
      <%= image_tag "/assets/PPO_1000maicake_TP_V.jpg", size: "600x250", style: "object-fit: cover;" %>
    </div>
  </div>
</div>