<div class="container">
  <div class="row">
    <div class="col-3">
      <p>ジャンル検索</p>
    </div>

    <div class="col-8">
      <div class="jumbotron">
          <h5 class="h-25 ml-5 p-5" id="top-icon">
          ようこそ、ながのCAKEへ！</br>
          このサイトは、ケーキ販売のECサイトになります。</br>
          会員でない方も商品の閲覧はできますが、</br>
          購入には会員登録が必要になります。
        </h5>
      </div>
      <div class="row">
        <% @items.first(4).each do |item| %>
          <div class="col-2">
            <%= item.get_image(100,100) %>
            <%= item.name %>
            <%= item.price %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>