@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.top_logo,
#genre_list,
#new_item_logo,
#top_icon,
#about_text,
#footer_logo{
  font-family: 'Kaisei Decol', serif;
}

.jumbotron{
  background-image: url("/assets/cropMMK_settingsaretacake");
  background-size: cover;
  background-position: center 60%;
}

#top_icon{
  background-color: rgba(255,255,255,0.6)
}

.pagination{
  justify-content: center;
  margin-bottom: 20px;
}

.first,
.gap,
.last,
.next,
.page,
.prev,{
  margin: 3px;
}

.item-link a{
  text-decoration: none;
  color: black;
}
.item-link a:hover,
.genre-link:hover{
  background-color: rgba(0,0,0,0.1);
  transition: 0.2s;
}