@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

#top-logo{
  font-family: 'Kaisei Decol', serif;
}

#genre-list{
  font-family: 'Nico Moji';
}

.jumbotron{
  background-image: url("/assets/cropMMK_settingsaretacake");
  background-size: cover;
  background-position: center 60%;
}

#top-icon{
  background-color: rgba(255,255,255,0.6)
}

.pagination{
  justify-content: center;
  margin-bottom: 20px;
}

.first,
.gap,
.last,
.next,
.page,
.prev,{
  margin: 3px;
}

.item-link a{
  text-decoration: none;
  color: black;
}
.item-link a:hover,
.genre-link:hover{
  background-color: rgba(0,0,0,0.1);
  transition: 0.2s;
}