<div class="container">
  <div class="row">
    <div class="col-md-2 mb-4">
      <h3 class="text-center bg-light">ログイン</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-1 mt-3">
      <h5 class="text-center bg-light">会員の方はこちらからログイン</h5>
    </div>
  </div>
  <div class="row mx-auto text-center">
    <%= form_with model: @customer, url: customer_session_path do |f| %>
      <table class="table table-borderless">
        <tr>
          <th><span>メールアドレス</span></th>
          <th><%= f.email_field :email, autofocus: true, autocomplete: "email" %></th>
        </tr>
        <tr>
          <th>パスワード</th>
          <th><%= f.password_field :password, autocomplete: "current-password" %></th>
        </tr>
      </table>
    <% end %>
  </div>
</div>
